<!-- Loader
    <div id="page-preloader"><span class="spinner"></span></div> -->
<header class="b-topBar wow slideInDown" data-wow-delay="0.7s">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="b-topBar__addr">
                    <span class="fa fa-envelope"></span>
                    info@parts-fusion.ro
                </div>
                </div>
                <div class="col-sm-2">
                    <div class="b-topBar__tel">
                        <span class="fa fa-phone"></span>
                        0261 5555
                    </div>
                </div>
                <div class="col-sm-1"></div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-sm-6">
                    <nav class="b-topBar__nav clearfix">
                        <ul>
                            <li><a href="#" style="text-decoration: none"><i class="fa fa-shopping-cart" style="font-size: 20px; color: gray"></i></a></li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </nav>
                </div>
            </div>
    </div>
</header><!--b-topBar-->
