<section class="b-contact">
    <div class="container">
        <div class="row wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
            <div class="col-xs-4">
                <div class="b-contact-title">
                    <h5>Oferte, Reduceri &amp; Noutati</h5><br />
                    <h2>Aboneaza-te la newsletter</h2>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="b-contact__form">
                    <p>Te tinem la curent cu toate ofertele si produsele noi aparute. Aboneaza-te si tu!</p>
                    <form action="/" method="POST">
                        <div><span class="fa fa-user"></span><input type="text" name="user" value="" placeholder="Nume" /></div>
                        <div><span class="fa fa-envelope"></span><input type="text" name="email" value="" placeholder="Email" /></div>
                        <button type="submit"><span class="fa fa-angle-right"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--b-contact-->
