<div class="b-features">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3 col-xs-6 col-xs-offset-6">
                <ul class="b-features__items">
                    <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Preturi pentru toate buzunarele</li>
                    <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Gama larga de produse</li>
                    <li class="wow zoomInUp" data-wow-delay="0.3s" data-wow-offset="100">Livrare gratuita</li>
                </ul>
            </div>
        </div>
    </div>
</div><!--b-features-->
<div class="b-info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <aside class="b-info__aside wow zoomInLeft" data-wow-delay="0.3s">
                    <article class="b-info__aside-article">
                        <h3>Program de lucru</h3>
                        <div class="b-info__aside-article-item">
                            <h6>Departament vanzari</h6>
                            <p>
                                Luni-Sambata : 8:00 - 22:00<br />
                                Duminica: inchis
                            </p>
                        </div>
                        <div class="b-info__aside-article-item">
                            <h6>Departament service</h6>
                            <p>
                                Luni-Vineri : 8:00 - 17:00<br />
                                Sambata,Duminica: inchis
                            </p>
                        </div>
                    </article>
                    <article class="b-info__aside-article">
                        <h3>Despre noi</h3>
                        <p>
                            Vestibulum varius od lio eget conseq
                            uat blandit, lorem auglue comm lodo
                            nisl non ultricies lectus nibh mas lsa
                            Duis scelerisque aliquet. Ante donec
                            libero pede porttitor dacu msan esct
                            venenatis quis.
                        </p>
                    </article>
                    <a href="about.html" class="btn m-btn">Read More<span class="fa fa-angle-right"></span></a>
                </aside>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="b-info__latest">
                    <h3>Ultimele produse</h3>
                    <div class="b-info__latest-article wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-info__latest-article-photo m-audi"></div>
                        <div class="b-info__latest-article-info">
                            <h6><a href="detail.html">MERCEDES-AMG GT S</a></h6>
                            <p><span class="fa fa-tachometer"></span> 35,000 KM</p>
                        </div>
                    </div>
                    <div class="b-info__latest-article wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-info__latest-article-photo m-audiSpyder"></div>
                        <div class="b-info__latest-article-info">
                            <h6><a href="#">AUDI R8 SPYDER V-8</a></h6>
                            <p><span class="fa fa-tachometer"></span> 35,000 KM</p>
                        </div>
                    </div>
                    <div class="b-info__latest-article wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-info__latest-article-photo m-aston"></div>
                        <div class="b-info__latest-article-info">
                            <h6><a href="#">ASTON MARTIN VANTAGE</a></h6>
                            <p><span class="fa fa-tachometer"></span> 35,000 KM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="b-info__twitter">
                    <h3>from twitter</h3>
                    <div class="b-info__twitter-article wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-info__twitter-article-icon"><span class="fa fa-twitter"></span></div>
                        <div class="b-info__twitter-article-content">
                            <p>Duis scelerisque aliquet ante donec libero pede porttitor dacu</p>
                            <span>20 minutes ago</span>
                        </div>
                    </div>
                    <div class="b-info__twitter-article wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-info__twitter-article-icon"><span class="fa fa-twitter"></span></div>
                        <div class="b-info__twitter-article-content">
                            <p>Duis scelerisque aliquet ante donec libero pede porttitor dacu</p>
                            <span>20 minutes ago</span>
                        </div>
                    </div>
                    <div class="b-info__twitter-article wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-info__twitter-article-icon"><span class="fa fa-twitter"></span></div>
                        <div class="b-info__twitter-article-content">
                            <p>Duis scelerisque aliquet ante donec libero pede porttitor dacu</p>
                            <span>20 minutes ago</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <address class="b-info__contacts wow zoomInUp" data-wow-delay="0.3s">
                    <p>Contact</p>
                    <div class="b-info__contacts-item">
                        <span class="fa fa-map-marker"></span>
                        <em>
                            SC. Parts-Fusion .SRL
                        </em>
                        <em>
                        Soseaua Orhideelor, nr. 27-29, sector 1, Bucuresti
                        </em>
                    </div>
                    <div class="b-info__contacts-item">
                        <span class="fa fa-phone"></span>
                        <em>Telefon:  0261 444</em>
                    </div>
                    <div class="b-info__contacts-item">
                        <span class="fa fa-fax"></span>
                        <em>FAX:  0261 445</em>
                    </div>
                    <div class="b-info__contacts-item">
                        <span class="fa fa-envelope"></span>
                        <em>Email:  info@parts-fusion.ro</em>
                    </div>
                </address>
                <address class="b-info__map">
                    <a href="contacts.html">Deschide harta</a>
                </address>
            </div>
        </div>
    </div>
</div><!--b-info-->
