<section class="b-welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                <div class="b-welcome__text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                    <h2>Fusiune de piese la cel mai mic pret</h2>
                    <h3>Bine ati venit pe Parts Fusion</h3>
                    <p>Parts-Fusion - magazinul online de piese auto lider pe piata de piese din Romania, va ofera un sistem prin care sa puteti afla si comanda in timp util tot ceea ce va intereseaza pentru masina dvs. de la piese de mecanica si caroserie la consumabile si accesorii. Detinem un sistem foarte util pentru analizarea celor mai bune oferte pentru marca si modelul autoturismului dvs.</p>
                    <ul>
                        <li><span class="fa fa-check"></span> Selectezi marca si modelul autoturismului tau.</li>
                        <li><span class="fa fa-check"></span> Cauti piesele dorite in functie de categorii.</li>
                        <li><span class="fa fa-check"></span> Adaugi in cos si finalizezi comanda.</li>
                        <li><span class="fa fa-check"></span> Primesti coletul in maxim 48 ore lucratoare.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="b-welcome__services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                    <div class="row">
                        <div class="col-xs-6 m-padding">
                            <div class="b-welcome__services-auto">
                                <div class="b-welcome__services-img m-auto">
                                    <span class="fa fa-cab"></span>
                                </div>
                                <h3>1. Selectezi marca</h3>
                            </div>
                        </div>
                        <div class="col-xs-6 m-padding">
                            <div class="b-welcome__services-trade">
                                <div class="b-welcome__services-img m-trade">
                                    <span class="fa fa-search"></span>
                                </div>
                                <h3>2. Cauti piesele</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <span class="b-welcome__services-circle"></span>
                        </div>
                        <div class="col-xs-6 m-padding">
                            <div class="b-welcome__services-buying">
                                <div class="b-welcome__services-img m-buying">
                                    <span class="fa fa-shopping-cart"></span>
                                </div>
                                <h3>3. Adaugi in cos & finalizezi</h3>
                            </div>
                        </div>
                        <div class="col-xs-6 m-padding">
                            <div class="b-welcome__services-support">
                                <div class="b-welcome__services-img m-support">
                                    <span class="fa fa-truck"></span>
                                </div>
                                <h3>4. Livrare in max 48h</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--b-welcome-->
