<li><a href="@Url.Action("Index","ShoppingCart")" style="text-decoration: none"><span class="glyphicon glyphicon-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge">@Model.CartItems.Count</span></span></a></li>

