@model CarPartsStore__License_App_.Models.ApplicationUser
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Manage/_accountLayout.cshtml";
}

<h2>UserProfile</h2>

<h4>@Html.DisplayNameFor(m => m.DisplayName)</h4>
<h4>@Html.DisplayFor(m => m.DisplayName)</h4>